
<br>
<h1>Florida Man</h1>
<br>
<br>


“A man trying to take a <%=params[:noun1]%> on a manatee instead got a ride to the Monroe County <%=params[:noun2]%>.

The man was in a creek touching two adult manatees and their two calves. It’s against the law to <%=params[:verb1]%> manatees.

The <%=params[:adjective1]%> man is reported to have yelled, “I’m riding it!”

A <%=params[:adjective2]%> witness reported seeing the man “reaching for, touching, and lying over top manatees in the <%=params[:noun3]%>.”

Florida man <%=params[:adparams[:verb1]]%> denied being warned away from the <%=params[:adjective3]%> mammal and became “verbally combative,” according to a local <%=params[:noun4]%>.

The man “continuously chanted ‘Take me to the <%=params[:adjective4]%> jail’ ”and said he would not show up for his case.”
