
<br>
<h1>Hurricane Party</h1>
<br>
<br>


“As the Cone of Uncertainty approaches, I am buying booze as my neighbors cover their windows with <%=params[:noun1]%> and buy bottled <%=params[:noun2]%> and cans of tuna.  According to the weatherman, this hurricane “is going to <%=params[:verb1]%> Florida back to the <%=params[:adjective1]%> ages” -- good thing I’ve got plenty of booze and a lot of <%=params[:adjective2]%> friends.  This hurricane’s <%=params[:adverb1]%> moving winds and <%=params[:noun3]%> of destruction make me want to drink my <%=params[:noun4]%> off.  How else can we pass time when the days are <%=params[:adjective3]%> and nights are <%=params[:adjective4]%>.”
